<%- include('./partials/head'); %>
<main id="home">
   <h1>Anti Human Card</h1>
   <div class="options">
      <a class="btn green" href="/game/new">New Game</a>
      <a class="btn" href="/game/join">Join Game</a>
   </div>
</main>
<%- include('./partials/footer'); %>